@import '../../scss/variables.scss';

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  >h3 {
    font-size: 15px;
    font-weight: 200;
    text-transform: capitalize;
  }
}

.section_temperature_dark, .section_temperature_light {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}
.section_temperature_light {
  background-color: $backgroundLight;
}
.section_temperature_dark {
  background-color: $sectionOverlay;
}

.temperature {
  font-size: 60px;
}