@import '../../scss/variables.scss';

.section_line {
  display: flex;
  flex-wrap: wrap;
  height: 47px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card_line_dark, .card_line_light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 7px 10px 7px 10px;
  margin-bottom: 14px;
  border-radius: 20px;
}
.card_line_light {
  background-color: $backgroundLight;
}
.card_line_dark {
  background-color: $sectionOverlay;
}

.description_cardLine {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;

  >small {
    text-transform: capitalize;
    font-size: 14px;
  }
}










.section_container_dark, .section_container_light{
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}
.section_container_light{
  background-color: $backgroundLight;
}
.section_container_dark{
  background-color: $sectionOverlay;
}


.title{
  display: flex;
  justify-content: center;
  margin: 12px 0 12px 0;
  font-weight: 700;
  font-size: 20px;
}

.section_descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 155px;
  width: 70px;

  padding: 13px;
  border: 1px solid #5096FF;
  border-radius: 20px;
  margin-bottom: 14px;
}
.card:not(:last-child){
  margin-right: 12px;
}

.description_cardIcon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 12px;

  >small {
    text-transform: capitalize;
  }
}
.containerData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.data {
  font-size: 18px;
}

@media screen and (max-width: 450px) {
  .card_line_dark, .card_line_light{
    width: 100%;
  }
}