$sectionOverlay: #0D3A8A;
$backgroundOverlay: rgba(0, 0, 0, 0.2);
$backgroundLight: #269BCA;
$backgroundButtonColdHover: #0840AF;
$backgroundButtonCold: #124BB4;
$backgroundButtonHot: #269AC9;
$backgroundButtonHotHover: #3E97DB;

